In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import openpyxl

In [7]:
df = pd.read_csv('Cleaned_Script_Data.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118229 entries, 0 to 118228
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CAST    70141 non-null  object
 1   LINE    64410 non-null  object
dtypes: object(2)
memory usage: 1.8+ MB

In [9]:
df.head()

         CAST                                               LINE
0  Written by       Marta Kauffman & David Crane\nTranscribed by
1      [Scene   Central Perk, Chandler, Joey, Phoebe, and Mon...
2      Monica   There's nothing to tell! He's just some guy I...
3        Joey   C'mon, you're going out with the guy! There's...
4    Chandler   All right Joey, be nice.  So does he have a h...

In [11]:
df = df[['CAST', 'LINE']]
df.head()

         CAST                                               LINE
0  Written by       Marta Kauffman & David Crane\nTranscribed by
1      [Scene   Central Perk, Chandler, Joey, Phoebe, and Mon...
2      Monica   There's nothing to tell! He's just some guy I...
3        Joey   C'mon, you're going out with the guy! There's...
4    Chandler   All right Joey, be nice.  So does he have a h...

In [12]:
df.isnull().sum()

CAST    48088
LINE    53819
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118229 entries, 0 to 118228
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CAST    70141 non-null  object
 1   LINE    64410 non-null  object
dtypes: object(2)
memory usage: 1.8+ MB

In [14]:
df.describe()

          CAST    LINE
count    70141   64410
unique    5366   55848
top     Rachel   What?
freq      8408     483

In [15]:
df = df.dropna(axis = 0, how = 'any').reset_index(drop=True)

In [16]:
df.isnull().sum()

CAST    0
LINE    0
dtype: int64

In [17]:
# Saving as Excel and csv file

df.to_csv('no_null_script.csv', header = True, index = False)

df.to_excel("no_null_script.xlsx", header = True, index = False)

In [20]:
df.head()

         CAST                                               LINE
0  Written by       Marta Kauffman & David Crane\nTranscribed by
1      [Scene   Central Perk, Chandler, Joey, Phoebe, and Mon...
2      Monica   There's nothing to tell! He's just some guy I...
3        Joey   C'mon, you're going out with the guy! There's...
4    Chandler   All right Joey, be nice.  So does he have a h...

In [22]:
df[df['CAST'] == 'Monica']

         CAST                                               LINE
2      Monica   There's nothing to tell! He's just some guy I...
7      Monica   Okay, everybody relax. This is not even a dat...
17     Monica           And they weren't looking at you before?!
21     Monica                             Are you okay, sweetie?
24     Monica   (explaining to the others) Carol moved her st...
...       ...                                                ...
64396  Monica                             Oh, yeah, that's true.
64398  Monica   Wait a minute. What about that summer during ...
64400  Monica   Oh, honey, I forgot. I promised Treeger that ...
64404  Monica   (crying) This is harder than I thought it wou...
64407  Monica                                  We got some time.

[7555 rows x 2 columns]

In [23]:
cast_names = ['MONICA', 'JOEY', 'CHANDLER', 'RACHEL', 'ROSS', 'PHOEBE',
             'Monica', 'Joey', 'Chandler', 'Rachel', 'Ross', 'Phoebe',
              'monica', 'joey', 'chandler', 'rachel', 'ross', 'phoebe',
             'MNCA', 'CHAN', 'RACHE', 'Racel', 'RACH', 'JANICE', 'JULIE', 'PHOE', 'CAROL', 'SUSAN', 'Carol', 'Susan', 
              'Everyone', 'Everybody', 'ESTL', 'Estelle', 'Fat Monica', 'Fat Joey', 'Young Monica', 'Young Ross',
             'CHAN, JOEY, ROSS', 'CHAN,JOEY,ROSS', 'Rache']

In [24]:
df = df[df['CAST'].isin(cast_names)].reset_index(drop=True)

In [25]:
df.head(50)

        CAST                                               LINE
0     Monica   There's nothing to tell! He's just some guy I...
1       Joey   C'mon, you're going out with the guy! There's...
2   Chandler   All right Joey, be nice.  So does he have a h...
3     Phoebe                           Wait, does he eat chalk?
4     Phoebe   Just, 'cause, I don't want her to go through ...
5     Monica   Okay, everybody relax. This is not even a dat...
6   Chandler                          Sounds like a date to me.
7   Chandler   Alright, so I'm back in high school, I'm stan...
8   Chandler   Then I look down, and I realize there's a pho...
9       Joey                                     Instead of...?
10  Chandler                                      That's right.
11      Joey                              Never had that dream.
12    Phoebe                                                No.
13  Chandler   All of a sudden, the phone starts to ring. No...
14    Monica           And they weren't looking at you before?!
15  Chandler   Finally, I figure I'd better answer it, and i...
16      Ross                                    (mortified) Hi.
17      Joey          This guy says hello, I wanna kill myself.
18    Monica                             Are you okay, sweetie?
19      Ross   I just feel like someone reached down my thro...
20  Chandler                                            Cookie?
21    Monica   (explaining to the others) Carol moved her st...
22      Joey                                               Ohh.
23    Monica              (to Ross) Let me get you some coffee.
24      Ross                                            Thanks.
25    Phoebe   Ooh! Oh! (She starts to pluck at the air just...
26      Ross   No, no don't! Stop cleansing my aura! No, jus...
27    Phoebe                                   Fine!  Be murky!
28      Ross   I'll be fine, alright? Really, everyone. I ho...
29    Monica                                      No you don't.
30      Ross         No I don't, to hell with her, she left me!
31      Joey            And you never knew she was a lesbian...
32      Ross   No!! Okay?! Why does everyone keep fixating o...
33  Chandler   Sometimes I wish I was a lesbian... (They all...
34      Ross   I told mom and dad last night, they seemed to...
35    Monica   Oh really, so that hysterical phone call I go...
36      Ross                                             Sorry.
37      Joey   Alright Ross, look. You're feeling a lot of p...
38      Joey   Strip joint! C'mon, you're single! Have some ...
39      Ross   I don't want to be single, okay? I just... I ...
40  Chandler   And I just want a million dollars! (He extend...
41    Monica                                           Rachel?!
42    Rachel   Oh God Monica hi! Thank God! I just went to y...
43    Monica   (pointing at Rachel) De-caff. (to All) Okay, ...
44    Rachel                                          Hi, sure!
45      Ross                                                Hi.
46    Monica   So you wanna tell us now, or are we waiting f...
47    Rachel   Oh God... well, it started about a half hour ...
48    Monica                 Who wasn't invited to the wedding.
49    Rachel   Ooh, I was kinda hoping that wouldn't be an i...

df.to_csv("cast_names_script.csv", header = True, index = False)

df.to_excel("cast_names_script.xlsx", header = True, index = False)

In [2]:
daf = pd.read_csv('Final Data.csv')

In [3]:
daf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95185 entries, 0 to 95184
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CAST    62684 non-null  object
 1   LINE    61588 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

In [4]:
daf.isnull().sum()

CAST    32501
LINE    33597
dtype: int64

In [5]:
daf = daf.dropna(axis = 0,how = 'all').reset_index(drop =True)

In [6]:
daf.to_csv('no_null_final_data.csv', header = True, index = False)

In [7]:
daf.to_excel('no_null_final_data.xlsx', header = True, index = False)

In [8]:
daf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62684 entries, 0 to 62683
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CAST    62684 non-null  object
 1   LINE    61588 non-null  object
dtypes: object(2)
memory usage: 979.6+ KB