In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import openpyxl

In [2]:
df = pd.read_csv('entire_script.csv')

c:\users\ab\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

df.to_excel("entire_script.xlsx", header = True, index = False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108023 entries, 0 to 108022
Columns: 497 entries, cast to Unnamed: 496
dtypes: object(497)
memory usage: 409.6+ MB

In [44]:
df.head()

,cast,line,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 487,Unnamed: 488,Unnamed: 489,Unnamed: 490,Unnamed: 491,Unnamed: 492,Unnamed: 493,Unnamed: 494,Unnamed: 495,Unnamed: 496
0,Written by,Marta Kauffman & David Crane\nTranscribed by,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[Scene,"Central Perk, Chandler, Joey, Phoebe, and Mon...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Monica,There's nothing to tell! He's just some guy I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Joey,"C'mon, you're going out with the guy! There's...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chandler,"All right Joey, be nice. So does he have a h...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df = df[['cast', 'line']]
df.head()

         cast                                               line
0  Written by       Marta Kauffman & David Crane\nTranscribed by
1      [Scene   Central Perk, Chandler, Joey, Phoebe, and Mon...
2      Monica   There's nothing to tell! He's just some guy I...
3        Joey   C'mon, you're going out with the guy! There's...
4    Chandler   All right Joey, be nice.  So does he have a h...

In [46]:
df.isnull().sum()

cast    42948
line    48178
dtype: int64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108016 entries, 0 to 108015
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    65068 non-null  object
 1   line    59838 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB

In [48]:
df.describe()

          cast   line
count    65068  59838
unique    4773  52348
top     Rachel   Hey!
freq      8425    471

In [49]:
df = df.dropna(axis = 0, how = 'any').reset_index(drop=True)

In [50]:
df.isnull().sum()

cast    0
line    0
dtype: int64

In [51]:
# Saving as Excel and csv file

df.to_csv('no_null_script.csv', header = True, index = False)

df.to_excel("no_null_script.xlsx", header = True, index = False)

In [52]:
df.head()

         cast                                               line
0  Written by       Marta Kauffman & David Crane\nTranscribed by
1      [Scene   Central Perk, Chandler, Joey, Phoebe, and Mon...
2      Monica   There's nothing to tell! He's just some guy I...
3        Joey   C'mon, you're going out with the guy! There's...
4    Chandler   All right Joey, be nice.  So does he have a h...

In [55]:
df[df['cast'] == 'Monica']

         cast                                               line
2      Monica   There's nothing to tell! He's just some guy I...
7      Monica   Okay, everybody relax. This is not even a dat...
17     Monica           And they weren't looking at you before?!
21     Monica                             Are you okay, sweetie?
24     Monica   (explaining to the others) Carol moved her st...
...       ...                                                ...
59824  Monica                             Oh, yeah, that's true.
59826  Monica   Wait a minute. What about that summer during ...
59828  Monica   Oh, honey, I forgot. I promised Treeger that ...
59832  Monica   (crying) This is harder than I thought it wou...
59835  Monica                                  We got some time.

[7527 rows x 2 columns]

cast_names = ['Monica', 'Joey', 'Phoebe', 'Ross', 'Chandler', 'Rachel']

In [56]:
cast_names = ['MONICA', 'JOEY', 'CHANDLER', 'RACHEL', 'ROSS', 'PHOEBE',
             'Monica', 'Joey', 'Chandler', 'Rachel', 'Ross', 'Phoebe',
             'MNCA', 'CHAN', 'RACHE', 'Racel', 'RACH', 'JANICE', 'JULIE', 'PHOE', 'CAROL', 'SUSAN', 'Carol', 'Susan', 
              'Everyone', 'Everybody', 'ESTL', 'Estelle', 'Fat Monica', 'Fat Joey', 'Young Monica', 'Young Ross',
             'CHAN, JOEY, ROSS', 'CHAN,JOEY,ROSS', 'Rache']

In [57]:
df = df[df['cast'].isin(cast_names)].reset_index(drop=True)

In [58]:
df.head(50)

        cast                                               line
0     Monica   There's nothing to tell! He's just some guy I...
1       Joey   C'mon, you're going out with the guy! There's...
2   Chandler   All right Joey, be nice.  So does he have a h...
3     Phoebe                           Wait, does he eat chalk?
4     Phoebe   Just, 'cause, I don't want her to go through ...
5     Monica   Okay, everybody relax. This is not even a dat...
6   Chandler                          Sounds like a date to me.
7   Chandler   Alright, so I'm back in high school, I'm stan...
8   Chandler   Then I look down, and I realize there's a pho...
9       Joey                                     Instead of...?
10  Chandler                                      That's right.
11      Joey                              Never had that dream.
12    Phoebe                                                No.
13  Chandler   All of a sudden, the phone starts to ring. No...
14    Monica           And they weren't looking at you before?!
15  Chandler   Finally, I figure I'd better answer it, and i...
16      Ross                                    (mortified) Hi.
17      Joey          This guy says hello, I wanna kill myself.
18    Monica                             Are you okay, sweetie?
19      Ross   I just feel like someone reached down my thro...
20  Chandler                                            Cookie?
21    Monica   (explaining to the others) Carol moved her st...
22      Joey                                               Ohh.
23    Monica              (to Ross) Let me get you some coffee.
24      Ross                                            Thanks.
25    Phoebe   Ooh! Oh! (She starts to pluck at the air just...
26      Ross   No, no don't! Stop cleansing my aura! No, jus...
27    Phoebe                                   Fine!  Be murky!
28      Ross   I'll be fine, alright? Really, everyone. I ho...
29    Monica                                      No you don't.
30      Ross         No I don't, to hell with her, she left me!
31      Joey            And you never knew she was a lesbian...
32      Ross   No!! Okay?! Why does everyone keep fixating o...
33  Chandler   Sometimes I wish I was a lesbian... (They all...
34      Ross   I told mom and dad last night, they seemed to...
35    Monica   Oh really, so that hysterical phone call I go...
36      Ross                                             Sorry.
37      Joey   Alright Ross, look. You're feeling a lot of p...
38      Joey   Strip joint! C'mon, you're single! Have some ...
39      Ross   I don't want to be single, okay? I just... I ...
40  Chandler   And I just want a million dollars! (He extend...
41    Monica                                           Rachel?!
42    Rachel   Oh God Monica hi! Thank God! I just went to y...
43    Monica   (pointing at Rachel) De-caff. (to All) Okay, ...
44    Rachel                                          Hi, sure!
45      Ross                                                Hi.
46    Monica   So you wanna tell us now, or are we waiting f...
47    Rachel   Oh God... well, it started about a half hour ...
48    Monica                 Who wasn't invited to the wedding.
49    Rachel   Ooh, I was kinda hoping that wouldn't be an i...

df.to_csv("cast_names_script.csv", header = True, index = False)

df.to_excel("cast_names_script.xlsx", header = True, index = False)